/* .practice-item__container {
  width: 100%;
} */

.practice-item__title {
  font-weight: 300;
  margin-top: 10px;
  text-align: left;
}

@media only screen and (min-width: 427px) and (max-width: 768px) {
  .practice-item__title {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 426px) {
  .practice-item__title {
    margin-top: 3px;
  }
}
