.navbar {
  align-items: center;
  display: flex;
  padding: 0 50px;
}
.navbar__btn {
  margin-right: 30px;
}

.navbar a.active {
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
