.nav-burger {
  width: 25px;
  height: 15px;
  margin-top: 18px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.nav-burger__line {
  width: 100%;
  height: 1px;
  background-color: #000000;
}

@media only screen and (max-width: 768px) {
  .nav-burger {
    display: flex;
  }
}

@media only screen and (max-width: 426px) {
  .nav-burger {
    width: 21px;
  }
}
