.about {
  z-index: 1000;
  overflow-y: scroll;
  display: flex;
  gap: 50px;
}
.about__header {
  flex: 2;
}

.about__container {
  flex: 3;
}

.about__section {
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
}
