.project-section {
  margin-bottom: 50px;
}
.project-section__title-subtitle {
  margin-bottom: 20px;
  font-weight: 600;
}

.project-section__ul {
  display: table;
}

.project-section__video {
  width: 99%;
  aspect-ratio: 16/9;
  margin-top: 35px;
}
.project-section__diagram {
  width: 100%;
  object-fit: contain;
  margin-top: 35px;
}

@media only screen and (max-width: 426px) {
  .project-section__video {
    margin-top: 20px;
  }

  .project-section__diagram {
    margin-top: 20px;
  }
}
