.project-section {
  margin-top: 20px;
}
.project-section__title-subtitle {
  margin-bottom: 20px;
  font-weight: 400;
}

.project-section__ul {
  display: table;
  margin-left: 1em;
}

.project-section__video {
  width: 99%;
  aspect-ratio: 16/9;
  /* box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.4); */
  margin-top: 40px;
}
.project-section__diagram {
  width: 100%;
  object-fit: contain;
  margin-top: 40px;
}
.project-section__photo {
  width: 100%;
  object-fit: contain;
  margin-top: 40px;
}

@media only screen and (max-width: 1000px) {
  .project-section__photo {
    border-width: 1.2vw;
  }
}
