.project-content {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
}

.project-content__container {
  max-width: 1000px;
  background-color: #fff;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .project-content {
    padding-top: 2.4vw;
    padding-bottom: 12vw;
  }
}
